* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

span {
  font-style: italic;
  margin-right: 5px;
  color: #E99F59;
  transition: 0.4s all ease-in-out;
  border-bottom: 2px solid transparent;
}
span:hover {
  border-bottom: 3px solid #E99F59;
}

.accueil-section {
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 100px;
}
.accueil-section .cta_box {
  width: 50%;
}
.accueil-section .cta_box h2 {
  margin: 25px 0;
}
.accueil-section .cta_box .cta_button {
  padding: 15px;
  border-radius: 50px;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #E99F59;
  border: 0px;
  width: 50%;
  border: 2px solid #E99F59;
  transition: 0.4s all ease-in-out;
  letter-spacing: 4px;
}
.accueil-section .cta_box .cta_button:hover {
  background-color: transparent;
  letter-spacing: 1px;
}
.accueil-section .img_box {
  width: 50%;
  height: 70vh;
  border-radius: 15px;
  background-image: url("https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg");
  background-size: cover;
}

.services-section {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 5rem;
}
.services-section div {
  background-color: rgb(199, 159, 159);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.services-section div img {
  height: 50px;
  width: 50px;
  background-color: red;
}
.team-section {
  color: #3A3A3A;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .team-section {
    padding: 2rem;
  }
}
.team-section h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .team-section h2 {
    text-align: center;
  }
}
.team-section .c-card {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
@media screen and (max-width: 900px) {
  .team-section .c-card {
    gap: 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .team-section .c-card {
    flex-direction: column;
    align-items: center;
  }
}
.team-section .c-card .t-card {
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .team-section .c-card .t-card {
    width: 100%;
    padding-bottom: 2rem;
  }
}
.team-section .c-card .t-card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .team-section .c-card .t-card img {
    width: 100%;
    height: auto;
  }
}
.team-section .c-card .t-card h3 {
  padding-top: 2rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}
.team-section .c-card .t-card p {
  padding-top: 2rem;
  text-align: start;
}

.contact-section {
  background-color: #E99F59;
  padding: 5rem;
}
.contact-section h2 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
.contact-section .c-all {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  font-family: "Overpass", sans-serif;
}
.contact-section .c-all h3 {
  color: #3A3A3A;
  font-weight: 700;
  font-size: 1.5rem;
}
.contact-section .c-all .c-left {
  width: 50%;
  border-right: 5px solid #3A3A3A;
}
.contact-section .c-all .c-left ul {
  list-style: none;
}
.contact-section .c-all .c-left ul img {
  width: 30px;
  height: 30px;
}
.contact-section .c-all .c-left ul li {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact-section .c-all .c-right {
  width: 50%;
}
.contact-section .c-all .c-right form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contact-section .c-all .c-right form input, .contact-section .c-all .c-right form textarea {
  border-radius: 30px;
  padding: 16px 25px;
  border: none;
  margin-bottom: 1rem;
  opacity: 80%;
  outline: none;
}
.contact-section .c-all .c-right form input::placeholder, .contact-section .c-all .c-right form textarea::placeholder {
  font-family: "Overpass", sans-serif;
  color: #3A3A3A;
  opacity: 40%;
  font-size: 1rem;
}
.contact-section .c-all .c-right form textarea {
  opacity: 60%;
  resize: none;
}
.contact-section .c-all .c-right form .f-submit {
  width: fit-content;
  background-color: #3A3A3A;
  opacity: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  align-self: flex-end;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
