* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

span {
  font-style: italic;
  margin-right: 5px;
  color: #E99F59;
  transition: 0.4s all ease-in-out;
  border-bottom: 2px solid transparent;
}
span:hover {
  border-bottom: 3px solid #E99F59;
}

header {
  height: 15vh;
  background-color: #E99F59;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .picto {
  background-color: red;
  height: 3px;
  width: 2.2em;
  display: none;
  position: absolute;
  z-index: 5;
  right: 2em;
  transition: 0.7s all ease-in-out;
  border-top: 6px solid #ffffff;
}
@media screen and (max-width: 900px) {
  header .picto {
    display: block;
  }
}
header .picto::before {
  content: "";
  position: absolute;
  top: -20px;
  border-top: 6px solid #ffffff;
  height: 3px;
  width: 2.2em;
}
header .picto::after {
  content: "";
  position: absolute;
  top: 8px;
  border-top: 6px solid #ffffff;
  height: 3px;
  width: 2.2em;
}
header .open {
  transform: translate(0, 0);
}
header nav {
  display: inline-flex;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  header nav {
    transition: 0.7s all ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15vh 2em;
    gap: 5vh;
    background-color: #E99F59;
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    transform: translate(-1000px, 0);
  }
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: 0.4s all ease-in-out;
}
header nav li a:hover {
  letter-spacing: 4px;
  border-bottom: 3px solid #ffffff;
}
@media screen and (max-width: 900px) {
  header nav li a {
    font-size: 2.4em;
  }
}

.accueil-section {
  background-color: #353435;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
  margin: 20px;
  height: 80vh;
  background-image: url("../img/bg_accueil.png");
  background-size: cover;
}
.accueil-section .cta_box {
  color: white;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .accueil-section .cta_box {
    width: 100%;
  }
}
.accueil-section .cta_box h2 {
  margin: 25px 0;
}
.accueil-section .cta_box .cta_button {
  padding: 15px;
  border-radius: 50px;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #E99F59;
  border: 0px;
  width: 50%;
  color: white;
  border: 2px solid #E99F59;
  transition: 0.4s all ease-in-out;
  letter-spacing: 4px;
}
.accueil-section .cta_box .cta_button:hover {
  background-color: transparent;
  letter-spacing: 1px;
}
@media screen and (max-width: 1200px) {
  .accueil-section .cta_box .cta_button {
    width: 90%;
  }
}
.accueil-section .cta_box .img_box {
  width: 50%;
  height: 70vh;
  border-radius: 15px;
  background-image: url("https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg");
  background-size: cover;
}

.entreprise-section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 4rem;
}
.entreprise-section > div {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 900px) {
  .entreprise-section > div {
    flex-direction: column;
  }
}
.entreprise-section > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.entreprise-section > div > div h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #353435;
}
.entreprise-section > div > div img {
  width: 100%;
}
.entreprise-section > div > div p {
  text-align: justify;
}
.entreprise-section h2 {
  color: #3A3A3A;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  grid-column: 1/4;
}

.services-section {
  background-color: #353435;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 5rem;
}
@media screen and (max-width: 1200px) {
  .services-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .services-section {
    grid-template-columns: minmax(0, 1fr);
  }
}
.services-section h2 {
  color: #ffffff;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  grid-column: 1/4;
}
@media screen and (max-width: 1200px) {
  .services-section h2 {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 800px) {
  .services-section h2 {
    grid-column: 1/2;
  }
}
.services-section > div {
  background-color: #E99F59;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services-section > div > h3 {
  width: 100%;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem;
}
.services-section > div > div {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.services-section > div > div p {
  width: 50%;
  padding: 2rem 0rem 2rem 2rem;
  color: #3A3A3A;
}
.services-section > div > div img {
  width: 50%;
}

.team-section {
  color: #3A3A3A;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .team-section {
    padding: 2rem;
  }
}
.team-section h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .team-section h2 {
    text-align: center;
  }
}
.team-section .c-card {
  font-family: "Overpass", sans-serif;
  width: 70%;
  margin: 2rem auto 0 auto;
}
.team-section .c-card .t-card {
  display: flex;
}
@media screen and (max-width: 1100px) {
  .team-section .c-card .t-card {
    flex-direction: column;
    align-items: center;
  }
}
.team-section .c-card .t-card .t-man {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.team-section .c-card .t-card .t-man img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.team-section .c-card .t-card .t-man h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  opacity: 80%;
}
@media screen and (max-width: 1100px) {
  .team-section .c-card .t-card .t-man h3 {
    padding-bottom: 1.5rem;
  }
}
.team-section .c-card .t-card .c-info {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.team-section .c-card .t-card .c-info .line {
  margin-top: 10px;
  width: 250px;
  border-top: 1px solid #3A3A3A;
}
@media screen and (max-width: 1100px) {
  .team-section .c-card .t-card .c-info .line {
    display: none;
  }
}
.team-section .c-card .t-card .c-info .t-info {
  width: 300px;
}
.team-section .c-card .t-card .c-info .t-info h3 {
  font-size: 1.5rem;
  opacity: 80%;
  font-weight: 700;
  text-align: center;
}
.team-section .c-card .t-card .c-info .t-info p {
  font-weight: 200;
}

.contact-section {
  background-color: #E99F59;
  padding: 5rem;
}
@media screen and (max-width: 700px) {
  .contact-section {
    padding: 2rem;
  }
}
.contact-section h2 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .contact-section h2 {
    text-align: center;
  }
}
.contact-section .c-all {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  font-family: "Overpass", sans-serif;
}
.contact-section .c-all h3 {
  color: #3A3A3A;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (max-width: 900px) {
  .contact-section .c-all {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
}
.contact-section .c-all .c-left {
  width: 50%;
  border-right: 5px solid #3A3A3A;
}
@media screen and (max-width: 900px) {
  .contact-section .c-all .c-left {
    border: none;
    width: 100%;
  }
}
.contact-section .c-all .c-left ul {
  list-style: none;
}
.contact-section .c-all .c-left ul img {
  width: 30px;
  height: 30px;
}
.contact-section .c-all .c-left ul li {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact-section .c-all .c-right {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .contact-section .c-all .c-right {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .contact-section .c-all .c-right h3 {
    display: none;
  }
}
.contact-section .c-all .c-right form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contact-section .c-all .c-right form input, .contact-section .c-all .c-right form textarea {
  border-radius: 30px;
  padding: 16px 25px;
  border: none;
  margin-bottom: 1rem;
  opacity: 80%;
  outline: none;
}
.contact-section .c-all .c-right form input::placeholder, .contact-section .c-all .c-right form textarea::placeholder {
  font-family: "Overpass", sans-serif;
  color: #3A3A3A;
  opacity: 40%;
  font-size: 1rem;
}
.contact-section .c-all .c-right form textarea {
  opacity: 60%;
  resize: none;
}
.contact-section .c-all .c-right form .f-submit {
  width: fit-content;
  background-color: #3A3A3A;
  opacity: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  align-self: flex-end;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
