* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

span{
    font-style: italic;
    margin-right: 5px;
    color: #E99F59;
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 3px solid #E99F59;
    }
}

.accueil-section{
    background-color: grey;
    display: flex;
    align-items: center;
    padding: 5rem;
    height: 90vh;
    background-image: url("../img/Photo_smooth_blur\ 1.png");
    background-size: cover;
    background-position: center;
    @media screen and (max-width : 900px) {
        padding: 2rem;
    }
    .cta_box{
        color: white;
        width: 50%;
        h1{
            font-weight: 400;
            font-size: 8rem;
            @media screen and (max-width : 900px) {
                font-size: 5rem;
            }
        }
        h2{
            font-weight: 400;
            font-family: 'Overpass', sans-serif;
            padding-bottom: 4rem;
        }

        .cta_button{
            padding: 12px 22px;
            background-color: #E99F59;
            border: none;
            outline: none;
            border-radius: 30px;
            font-size: 1.5rem;
            color: white;
            @media screen and (max-width : 900px) {
                font-size: 1rem;
            }
        }
    }
}

.services-section {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;

    div {
        background-color: rgb(199, 159, 159);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;

        img {
            height: 50px;
            width: 50px;
            background-color: red;
        }

        p {
        }
    }
}

.team-section{
    padding: 5rem;
    display: flex;
    gap: 3rem;
    .team-card{
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid;
        }
        .c-infos{
            border: 1px solid;
            padding: 1rem;
        }
    }
    .team-card2{
        display: flex;
        align-items: center;
        gap: 2rem;
        background: rgb(199, 159, 159);
        padding: 20px 20px;
        img{
            width: 100px;
            height: 100px;
            border: 1px solid;
        }
        .c-infos2{
            .name{
                padding-bottom: 1rem;
            }
        }
    }
}

.contact-section{
    padding: 5rem;
    .c-all{
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        .c-left{
            width: 50%;
            h3{
    
            }
            ul{
                list-style: none;
                img{
                    border: 1px solid;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .c-right{
            width: 50%;
            form{
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
            
        }
    }
}