* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Overpass', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

.services-section {
    background-color: #353435;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: minmax(0, 1fr);
    }

    h2 {
        color: #ffffff;
        font-size: 4rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        grid-column: 1/4;

        @media screen and (max-width: 1200px) {
            grid-column: 1/3;
        }

        @media screen and (max-width: 800px) {
            grid-column: 1/2;
        }
    }

    > div {
        background-color: #E99F59;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > h3 {
            width: 100%;
            color: #ffffff;
            font-size: 1.5rem;
            padding: 2rem;
        }

        > div {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            p {
                width: 50%;
                padding: 2rem 0rem 2rem 2rem;
                color: #3A3A3A;
            }

            img {
                width: 50%;
            }
        }
    }
}