* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

span{
    font-style: italic;
    margin-right: 5px;
    color: #E99F59;
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 3px solid #E99F59;
    }
}

header{
    height: 15vh;
    background-color: #E99F59;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .picto{
        background-color: red;
        height: 3px;
        width: 2.2em;
        display: none;
        position: absolute;
        z-index: 5;
        right: 2em;
        transition: 0.7s all ease-in-out;
        border-top: 6px solid #ffffff;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &::before{
            content: "";
            position: absolute;
            top: -20px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
        }
        &::after{
            content: "";
            position: absolute;
            top: 8px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
        }
    }
    .open{
        transform: translate(0, 0);
    }
    nav{
        display: inline-flex;
        gap: 50px;
        flex-wrap: wrap;
        
        @media screen and (max-width: 900px) {
            transition: 0.7s all ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 15vh 2em;
            gap: 5vh;
            background-color: #E99F59;
            height: 100vh;
            width: 100vw;
            position: absolute;
            bottom: 0;
            transform: translate(-1000px, 0);
        }
        
        
        li{
            list-style: none;
            
            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5em;
                letter-spacing: 1px;
                border-bottom: 2px solid transparent;
                transition: 0.4s all ease-in-out;
                &:hover{
                    letter-spacing: 4px;
                    border-bottom: 3px solid #ffffff;
                }
                @media screen and (max-width: 900px) {
                    font-size: 2.4em;
                }
            }
        }
    }
}

.accueil-section{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    margin: 20px;
    height: 80vh;
    background-image: url("../img/bg_accueil.png");
    background-size: cover;
    
    .cta_box{
        color: white;
        width: 50%;

        h2{
            margin: 25px 0;
        }

        .cta_button{
            padding: 15px;
            border-radius: 50px;
            font-size: 1.7rem;
            cursor: pointer;
            background-color: #E99F59;
            border: 0px;
            width: 50%;
            color: white;
            border: 2px solid #E99F59;
            transition: 0.4s all ease-in-out;
            letter-spacing: 4px;
            &:hover{
                background-color: transparent; // ou Blanc (en fonction du fond)
                letter-spacing: 1px;
            }
        }
    }
}

.services-section {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;

    div {
        background-color: rgb(199, 159, 159);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;

        img {
            height: 50px;
            width: 50px;
            background-color: red;
        }

        p {
        }
    }
}

.team-section{
    padding: 5rem;
    display: flex;
    gap: 3rem;
    .team-card{
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid;
        }
        .c-infos{
            border: 1px solid;
            padding: 1rem;
        }
    }
    .team-card2{
        display: flex;
        align-items: center;
        gap: 2rem;
        background: rgb(199, 159, 159);
        padding: 20px 20px;
        img{
            width: 100px;
            height: 100px;
            border: 1px solid;
        }
        .c-infos2{
            .name{
                padding-bottom: 1rem;
            }
        }
    }
}

.contact-section{
    padding: 5rem;
    .c-all{
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        .c-left{
            width: 50%;
            h3{
    
            }
            ul{
                list-style: none;
                img{
                    border: 1px solid;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .c-right{
            width: 50%;
            form{
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
            
        }
    }
    
}