* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$overpass : 'Overpass', sans-serif;
$bebas : 'Bebas Neue', cursive;

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Overpass', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

span{
    font-style: italic;
    margin-right: 5px;
    color: #E99F59;
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 3px solid #E99F59;
    }
}

header{
    height: 6rem;
    background-color: #353435;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .logo_bps{
        position: absolute;
        left: 4rem;
        min-width: 107px;
        @media screen and (max-width: 500px) {
            left: 2rem;
            width: 16%;
            min-width: 66px;
        }
    }
    
    .picto{
        height: 3px;
        width: 2.2em;
        display: none;
        position: absolute;
        z-index: 5;
        right: 2rem;
        transition: 0.7s all ease-in-out;
        border-top: 6px solid #ffffff;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &::before{
            content: "";
            position: absolute;
            top: -20px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
            transition: 0.4s all ease-in-out;
        }
        &::after{
            content: "";
            position: absolute;
            top: 8px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
            transition: 0.4s all ease-in-out;
        }
    }
    .close_icon{
        transform: rotate(45deg);
        &::before{
            transform: rotate(90deg);
            margin-top: 12px;
            margin-left: -1px;
        }
        &::after{
            opacity: 0;
        }
    }
    .open{
        transform: translate(0, 0);
    }
    nav{
        display: inline-flex;
        gap: 150px;
        flex-wrap: wrap;
        @media screen and (max-width: 1400px) {
            gap: 100px;
        }
        @media screen and (max-width: 1200px) {
            gap: 70px;
        }
        @media screen and (max-width: 1050px) {
            gap: 40px;
        }
        @media screen and (max-width: 900px) {
            transition: 0.7s all ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 15vh 2em 0em 0em;
            gap: 1.3rem;
            background-color: #353435;
            height: 80vh;
            width: 100vw;
            position: absolute;
            top: 0;
            transform: translate(0px, -1000px);
        }
        
        
        li{
            list-style: none;
            
            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5em;
                letter-spacing: 1px;
                border-bottom: 2px solid transparent;
                transition: 0.4s all ease-in-out;
                &:hover{
                    letter-spacing: 4px;
                    border-bottom: 3px solid #ffffff;
                }
                @media screen and (max-width: 900px) {
                    font-size: 2.4em;
                }
            }
        }
    }
    
    .header-networks{
        display: none;
        @media screen and (max-width: 900px) {
            display: inline-flex;
            gap: 2rem;
            align-items: center;
        }
        li a img{
            width: 30px;
            height: 30px;
        }
    }
}

.accueil-section{
    background-color: #353435;
    display: flex;
    align-items: center;
    padding: 5rem;
    height: 90vh;
    background-image: url("../img/Photo_smooth_blur\ 1.png");
    background-size: cover;
    background-position: center;
    @media screen and (max-width : 900px) {
        padding: 2rem;
    }
    .cta_box{
        color: white;
        width: 50%;
        h1{
            font-weight: 400;
            font-size: 8rem;
            @media screen and (max-width : 900px) {
                font-size: 5rem;
            }
        }
        h2{
            font-weight: 400;
            font-family: 'Overpass', sans-serif;
            padding-bottom: 4rem;
        }
        
        .cta_button{
            padding: 12px 22px;
            background-color: #E99F59;
            border: none;
            outline: none;
            border-radius: 30px;
            font-size: 1.5rem;
            color: white;
            @media screen and (max-width : 900px) {
                font-size: 1rem;
            }
            @media screen and (max-width: 1200px) {
                width: 90%;
            }
        }
    }   
}

.entreprise-section {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 4rem;
    @media screen and (max-width : 900px) {
        padding: 2rem;
    }
    
    > div {
        display: flex;
        gap: 3rem;
        
        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }
        
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            
            h3 {
                font-family: 'Overpass', sans-serif;
                font-size: 2rem;
                color: #353435;
            }
            
            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                @media screen and (max-width : 1100px) {
                    width: 200px;
                    height: 200px;
                }
            }
            
            p {
                text-align: justify;
                font-weight: 200;
            }
        }
    }
    
    h2 {
        color: #3A3A3A;
        font-size: 3rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
}

.services-section {
    background-color: #353435;
    padding: 5rem;
    @media screen and (max-width : 900px) {
        padding: 2rem;
    }
    .r-services{
        display: none;
        @media screen and (max-width : 800px) {
            display: block;
        }
        margin-top: 2rem;
        
        > div{
            background-color: #E99F59;
            margin-bottom: 2rem;
            .r-title{
                display: flex;
                justify-content: space-between;
                padding: 1.5rem;
                align-items: center;
                color: white;
                font-weight: 700;
            }
            .r-content{
                display: none;
            }
        }
        .last{
            margin-bottom: 0;
        }
    }
    
    
    
    .c-services{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2rem;
        margin-top: 2rem;
        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
        @media screen and (max-width: 800px) {
            display: none;
        }
        > div {
            background-color: #E99F59;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            > h3 {
                width: 100%;
                color: #ffffff;
                font-size: 1.5rem;
                padding: 2rem 0 0 2rem;
            }
            
            > div {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                
                p {
                    width: 50%;
                    padding: 0rem 0rem 2rem 2rem;
                    color: #3A3A3A;
                }
                
                img {
                    width: 200px;
                }
            }
        }
    }
    
    h2 {
        color: #ffffff;
        font-size: 3rem;
        font-weight: 400;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        grid-column: 1/4;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
}

.team-section{
    color: #3A3A3A;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width : 700px) {
        padding: 2rem;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        font-weight: 400;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
    .c-card{
        font-family: $overpass;
        width: 70%;
        margin: 2rem auto 0 auto;
        .t-card{
            display: flex;
            @media screen and (max-width : 1100px) {
                flex-direction: column;
                align-items: center;
            }
            .t-man{
                text-align: center;
                display: flex;
                flex-direction: column;
                @media screen and (max-width : 1100px) {
                    flex-direction: column-reverse;
                }
                img{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
                    @media screen and (max-width : 500px) {
                        width: 200px;
                        height: 200px;
                    }
                }
                h3{
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    opacity: 80%;
                    padding-top: 1.5rem;
                    @media screen and (max-width : 1100px) {
                        padding-bottom: 1.5rem;
                    }
                }
            }
            .c-info{
                display: flex;
                margin-top: 2rem;
                gap: 1rem;
                .line{
                    margin-top: 10px;
                    width: 250px;
                    border-top: 1px solid #3A3A3A;
                    @media screen and (max-width : 1100px) {
                        display: none;
                    }
                }
                .t-info{
                    width: 300px;
                    h3{
                        font-size: 1.5rem;
                        opacity: 80%;
                        font-weight: 700;
                        @media screen and (max-width : 1100px) {
                            text-align: center;
                        }
                    }
                    p{
                        font-weight: 200;
                    }
                }
            }
            
        }
    }
    
}

.contact-section{
    background-color: #E99F59;
    padding: 5rem;
    @media screen and (max-width : 700px) {
        padding: 2rem;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 3rem;
        font-weight: 400;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
    .c-all{
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        font-family: 'Overpass', sans-serif;
        h3{
            color: #3A3A3A;
            font-weight: 700;
            font-size: 1.5rem;
        }
        @media screen and (max-width : 900px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 0;
        }
        .c-left{
            
            width: 50%;
            border-right: 5px solid #3A3A3A;
            @media screen and (max-width : 900px) {
                border: none;
                width: 100%;
            }
            
            ul{
                list-style: none;
                img{
                    width: 30px;
                    height: 30px;
                }
                li{
                    margin-top: 1rem;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .c-networks{
                margin-top: 2rem;
                .networks{
                    display: flex;
                    gap: 2rem;
                    
                }
            }
            
        }
        .c-right{
            width: 50%;
            @media screen and (max-width : 900px) {
                width: 100%;
            }
            h3{
                @media screen and (max-width : 500px) {
                    display: none;
                }
            }   
            form{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: start;
                input,textarea{
                    border-radius: 30px;
                    padding: 16px 25px;
                    border: none;
                    margin-bottom: 1rem;
                    opacity: 80%;
                    outline: none;
                    &::placeholder{
                        font-family: 'Overpass', sans-serif;
                        color: #3A3A3A;
                        opacity: 40%;
                        font-size: 1rem;
                    }
                }
                
                textarea{
                    opacity: 60%;
                    resize: none;
                }
                .f-submit{
                    width: fit-content;
                    background-color: #3A3A3A;
                    opacity: 100%;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 400;
                    align-self: flex-end;
                    font-family: 'Overpass', sans-serif;
                    cursor: pointer;
                    &:hover{
                        
                    }
                }
            }
            
        }
    }
}