* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Overpass', sans-serif;
    // Regular
    font-weight: 400;
    // Extra Light
    // font-weight: 200;
}

.extralight{
    font-weight: 200;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;
    
    div {
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 200px;
        
        img {
            border: 1px solid #000000;
            height: 50px;
            width: 50px;
        }
        
        p {
        }
    }
}

.team-section{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    .team-card{
        
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid;
        }
        .c-infos{
            border: 1px solid;
            padding: 1rem;
        }
    }
}