* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Overpass', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

span{
    font-style: italic;
    margin-right: 5px;
    color: #E99F59;
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 3px solid #E99F59;
    }
}

.accueil-section{
    background-color: #353435;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 100px;
    
    .cta_box{
        width: 50%;

        h2{
            margin: 25px 0;
        }

        .cta_button{
            padding: 15px;
            border-radius: 50px;
            font-size: 1.7rem;
            cursor: pointer;
            background-color: #E99F59;
            border: 0px;
            width: 50%;
            border: 2px solid #E99F59;
            transition: 0.4s all ease-in-out;
            letter-spacing: 4px;
            &:hover{
                background-color: transparent; // ou Blanc (en fonction du fond)
                letter-spacing: 1px;
            }
        }
    }

    .img_box{
        width: 50%;
        height: 70vh;
        border-radius: 15px;
        background-image: url("https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg");
        background-size: cover;
    }
}

.services-section {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: minmax(0, 1fr);
    }

    h2 {
        color: #ffffff;
        font-size: 4rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        grid-column: 1/4;

        @media screen and (max-width: 1200px) {
            grid-column: 1/3;
        }

        @media screen and (max-width: 800px) {
            grid-column: 1/2;
        }
    }

    > div {
        background-color: #E99F59;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > h3 {
            width: 100%;
            color: #ffffff;
            font-size: 1.5rem;
            padding: 2rem;
        }

        > div {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            p {
                width: 50%;
                padding: 2rem 0rem 2rem 2rem;
                color: #3A3A3A;
            }

            img {
                width: 50%;
            }
        }
    }
}

.team-section{
    padding: 5rem;
    display: flex;
    gap: 3rem;
    .team-card{
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid;
        }
        .c-infos{
            border: 1px solid;
            padding: 1rem;
        }
    }
    .team-card2{
        display: flex;
        align-items: center;
        gap: 2rem;
        background: rgb(199, 159, 159);
        padding: 20px 20px;
        img{
            width: 100px;
            height: 100px;
            border: 1px solid;
        }
        .c-infos2{
            .name{
                padding-bottom: 1rem;
            }
        }
    }
}

.contact-section{
    padding: 5rem;
    .c-all{
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        .c-left{
            width: 50%;
            h3{
    
            }
            ul{
                list-style: none;
                img{
                    border: 1px solid;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .c-right{
            width: 50%;
            form{
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
            
        }
    }
    
}