* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$overpass : 'Overpass', sans-serif;
$bebas : 'Bebas Neue', cursive;

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Overpass', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    // font-weight: 200;
}

span{
    font-style: italic;
    margin-right: 5px;
    color: #E99F59;
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 3px solid #E99F59;
    }
}

header{
    height: 15vh;
    background-color: #E99F59;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .picto{
        background-color: red;
        height: 3px;
        width: 2.2em;
        display: none;
        position: absolute;
        z-index: 5;
        right: 2em;
        transition: 0.7s all ease-in-out;
        border-top: 6px solid #ffffff;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &::before{
            content: "";
            position: absolute;
            top: -20px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
        }
        &::after{
            content: "";
            position: absolute;
            top: 8px;
            border-top: 6px solid #ffffff;
            height: 3px;
            width: 2.2em;
        }
    }
    .open{
        transform: translate(0, 0);
    }
    nav{
        display: inline-flex;
        gap: 50px;
        flex-wrap: wrap;
        
        @media screen and (max-width: 900px) {
            transition: 0.7s all ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 15vh 2em;
            gap: 5vh;
            background-color: #E99F59;
            height: 100vh;
            width: 100vw;
            position: absolute;
            bottom: 0;
            transform: translate(-1000px, 0);
        }
        
        
        li{
            list-style: none;
            
            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5em;
                letter-spacing: 1px;
                border-bottom: 2px solid transparent;
                transition: 0.4s all ease-in-out;
                &:hover{
                    letter-spacing: 4px;
                    border-bottom: 3px solid #ffffff;
                }
                @media screen and (max-width: 900px) {
                    font-size: 2.4em;
                }
            }
        }
    }
}

.accueil-section{
    background-color: #353435;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    margin: 20px;
    height: 80vh;
    background-image: url("../img/bg_accueil.png");
    background-size: cover;
    
    .cta_box{
        color: white;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 100%;
        }

        h2{
            margin: 25px 0;
        }

        .cta_button{
            padding: 15px;
            border-radius: 50px;
            font-size: 1.7rem;
            cursor: pointer;
            background-color: #E99F59;
            border: 0px;
            width: 50%;
            color: white;
            border: 2px solid #E99F59;
            transition: 0.4s all ease-in-out;
            letter-spacing: 4px;
            &:hover{
                background-color: transparent; // ou Blanc (en fonction du fond)
                letter-spacing: 1px;
            }
            @media screen and (max-width: 1200px) {
                width: 90%;
        }
    }

    .img_box{
        width: 50%;
        height: 70vh;
        border-radius: 15px;
        background-image: url("https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg");
        background-size: cover;
    }
}

.entreprise-section {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 4rem;

    > div {
        display: flex;
        gap: 3rem;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            h3 {
                font-family: 'Overpass', sans-serif;
                font-size: 2rem;
                color: #353435;
            }

            img {
                width: 100%;
            }

            p {
                text-align: justify;
            }
        }
    }

    h2 {
        color: #3A3A3A;
        font-size: 4rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        grid-column: 1/4;
    }
}

.services-section {
    background-color: #353435;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 5rem;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: minmax(0, 1fr);
    }

    h2 {
        color: #ffffff;
        font-size: 4rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        grid-column: 1/4;

        @media screen and (max-width: 1200px) {
            grid-column: 1/3;
        }

        @media screen and (max-width: 800px) {
            grid-column: 1/2;
        }
    }

    > div {
        background-color: #E99F59;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > h3 {
            width: 100%;
            color: #ffffff;
            font-size: 1.5rem;
            padding: 2rem;
        }

        > div {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            p {
                width: 50%;
                padding: 2rem 0rem 2rem 2rem;
                color: #3A3A3A;
            }

            img {
                width: 50%;
            }
        }
    }
}

.team-section{
    color: #3A3A3A;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width : 700px) {
        padding: 2rem;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        font-weight: 400;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
    .c-card{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 10rem;
        @media screen and (max-width : 900px) {
            gap: 0;
            justify-content: space-around;
        }
        @media screen and (max-width : 600px) {
            flex-direction: column;
            align-items: center ;
        }
        .t-card{
            width: 30%;
            text-align: center;
            @media screen and (max-width : 600px) {
                width: 100%;
                padding-bottom: 2rem;
            }
            @media screen and (max-width: 700px) {
                letter-spacing: 0px;
                font-size: 1.5em;
                width: 100%;
            img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                @media screen and (max-width : 900px){
                    width: 100%;
                    height: auto;
                }
            }
            h3{
                padding-top: 2rem;
                font-family: $overpass;
                font-size: 1.5rem;
            }
            p{
                padding-top: 2rem;
                text-align: start;
            }
        }
    }
    
}

.contact-section{
    background-color: #E99F59;
    padding: 5rem;
    @media screen and (max-width : 700px) {
        padding: 2rem;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 3rem;
        font-weight: 400;
        @media screen and (max-width : 900px) {
            text-align: center;
        }
    }
    .c-all{
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        font-family: 'Overpass', sans-serif;
        h3{
            color: #3A3A3A;
            font-weight: 700;
            font-size: 1.5rem;
        }
        @media screen and (max-width : 900px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 0;
        }
        .c-left{
            width: 50%;
            border-right: 5px solid #3A3A3A;
            @media screen and (max-width : 900px) {
                border: none;
                width: 100%;
            }
            
            ul{
                list-style: none;
                img{
                    width: 30px;
                    height: 30px;
                }
                li{
                    margin-top: 1rem;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                }
            }
        }
        .c-right{
            width: 50%;
            @media screen and (max-width : 900px) {
                width: 100%;
            }
            h3{
                @media screen and (max-width : 500px) {
                    display: none;
                }
            }   
            form{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: start;
                input,textarea{
                    border-radius: 30px;
                    padding: 16px 25px;
                    border: none;
                    margin-bottom: 1rem;
                    opacity: 80%;
                    outline: none;
                    &::placeholder{
                        font-family: 'Overpass', sans-serif;
                        color: #3A3A3A;
                        opacity: 40%;
                        font-size: 1rem;
                    }
                }

                textarea{
                    opacity: 60%;
                    resize: none;
                }
                .f-submit{
                    width: fit-content;
                    background-color: #3A3A3A;
                    opacity: 100%;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 400;
                    align-self: flex-end;
                    font-family: 'Overpass', sans-serif;
                    cursor: pointer;
                    &:hover{

                    }
                }
            }
            
        }
    }
}
